::-webkit-scrollbar {
    display: none;
  }
  
  html {
    scrollbar-width: none;
  }
  
  body {
    -ms-overflow-style: none;
  } 

  .scrollbar-track {
    display: none !important;
  }

  .fade-container {
    will-change: opacity;
    transition: opacity 0.5s ease-in-out;
  }
  
  .fade-child {
    will-change: opacity;
    transition: opacity 0.5s ease-in-out;
  }
  